/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24/04/2023, 16:01:33
    Author     : fabio
*/

table ,th{
  padding: 15px;
 
  border: transparent;
  outline: 1px solid black; /* ou use box-shadow */
  position: relative;
  
}

